*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: rgb(99, 111, 119);
    display: flex;
    flex-direction: column;
    
}
header{
    color: azure;
    text-align: center;
}
header img{
    width: auto;
    height: 10em;
}
.menuHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

.menuHeader a{
    text-decoration: none;
    margin: 0 10px;
    font-size: 2rem;
    color: aliceblue;
}
.menuHeader  a:hover{
    border-bottom: 2px solid aliceblue;

}


.carousel-item img{
        margin: auto;
        height: 30rem;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    align-content: space-around;
    
} 
.artContainer{
    display: flex;
    flex-direction: column;
    color: aliceblue;  
    justify-content: center;
    align-content: center;
    margin: 2rem 0;
}

.artImage{
    /* background-color: rgb(150, 143, 135); */
    border-radius: 10px;
    width: 18rem;
    height: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.artImage img{   
    border-radius: 5px; 
    width: 15rem;
    height: 15rem;
}

.artPrice strong{
    font-size: 2em;
}

.artSelect{
    font-size: 1.3em;
}

.artComent{
    font-size: 1.5em;
}

.button{
    background-color: blue;
    color: cornsilk;
    border: solid darkblue 2px;
    border-radius: 5px;
    padding: 5px 15px;
}

.button:hover{
    background-color: darkblue;
    border: solid black 2px;
}

/*DATOS PERSONALES*/

.datosPersonales_form{
    padding: 20px;
    border: solid 2px black;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: initial;
}

@media only screen and (min-width: 768px) {

}

@media only screen and (max-width: 600px) {
    .artImage img{
        width: 8rem;
        height: auto;
    }
    .artImage{
        width: 10rem;
        height: 10rem;
    }
    .carousel-item img{
        margin: auto;
        height: 10rem;
    }
}

